---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';
import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';
import Hero from '~/components/widgets/Hero.astro';

export const prerender = true;
export const getStaticPaths = (async ({ paginate }) => await getStaticPathsBlogList({ paginate })) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;
const showHero = currentPage === 1;

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: { index: blogListRobots?.index && showHero, follow: blogListRobots?.follow },
  openGraph: { type: 'blog' },
};
---

<Layout metadata={metadata}>
  {showHero && (
    <Hero
      title="Blog"
      subtitle="Explanations and insights in math, statistics and software."
      size="sm"
      align="left"
      maxW="max-w-5xl"
      showDivider={true}
    />
  )}

  <section class={showHero ? 'bg-zinc-50 dark:bg-zinc-950' : ''}>
    <div class="mx-auto max-w-4xl px-6 sm:px-6 py-8 sm:py-12">
      <BlogList posts={page.data} />
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    </div>
  </section>
</Layout>
